EXPO_PUBLIC_SUPABASE_URL=https://SEU-PROJETO.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sua-anon-key-aqui

# Apenas migrations locais. NUNCA vai para o app.
DBURL=postgresql://postgres:SENHA@db.SEU-PROJETO.supabase.co:5432/postgres
